.tasks{
    flex: 1;
    padding: 50px;

    h3{
        color: #cccbcb;
        position: absolute;
        top: 50%;
        left: 45%;
        font-size: 20pt;
    }

    &__title{
        font-family: 'Montserrat';
        font-weight: bold;
        margin-bottom: 30px;
        padding-bottom: 20px;
        color: #64C4ED;
        border-bottom: 1px solid #F2F2F2;

        img{
            opacity: 0;
            cursor: pointer;
        }

        &:hover{
            img{
                opacity: 1;
            }
        }
    }

    &__item{
        .task__item-row{
            display: flex;
            margin-bottom: 10px;
        }
        
        .checkbox{
            margin-right: 10px;
            input{
                display: none;
            }

            input:checked + label{
                background: #4DD599;
                border: 2px solid #4DD599;

                svg{
                    opacity: 1;
                    path{
                        stroke: #ffffff;
                    }
                }
            }

            label{
                position: relative;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                border: 2px solid #E5E5E5;
                border-radius: 50%;

                &:hover{
                    background-color: #F2F2F2;
                    border: 2px solid  #F2F2F2;

                    svg{
                        opacity: 1;
                        path{
                            stroke: #B2B2B2;
                        }
                    }
                }

                svg{
                    position: absolute;
                    left: 3px;
                    opacity: 0;
                }
            }

       }

       
    }
}

