.todo{
  display: flex;
  width: 745px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;

  -webkit-box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);

  &__sidebar{
    width: 200px;
    padding-left: 20px;
    padding-top: 60px;
    padding-right: 20px;
    background-color: rgb(245, 245, 245);
    border-right: 1px solid #F1F1F1;
  }
  
  &__tasks{
    flex: 1;
  }
}